.feedback-form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  padding: 12px;
  background-color: #fff;
  border: 3px solid #d34667 ;
  border-radius: 10px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.feedback-form button {
  padding: 8px 12px;
  font: inherit;
  cursor: pointer;
   border: 3px solid #d34667 ;
   background-color: #ee99ad;
   color:#fff;
}
.feedback-form button:hover{
   box-shadow: 3px 3px 4px 4px #ccc;;
}

input,
textarea {
  padding: 8px;
  font: inherit;
   border: 1px solid #d34667 ;

}

textarea {
  resize: none;
}
